[req]
default_bits = 2048
prompt = no
default_md = sha256
x509_extensions = v3_req
distinguished_name = dn

[dn]
CN = employee.local

[v3_req]
subjectAltName = @alt_names

[alt_names]
DNS.1 = employee.local
DNS.2 = api.local
DNS.3 = dev.employee.local
